.container{
    background: #fff;
    width: 540px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
}

.leftbox{
    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
    background: #2ed573;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, .5);
    border: .1em solid #fff;
}

.rightbox{
    width: 60%;
    margin-left: 27%;
}

h1{
    color: #7ed386;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 35px;
    padding-top: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 10px;
}

h2{
    color: #777;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 30px;
    margin-bottom: 9px;
}

.input-group input{
    border: 0;
    border-bottom: 1px solid #3fb638;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 7px 0;
    color: #070707;
    outline: none;
}

.btn{
    background: #3fb638;
    outline: none;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}



