{% extends 'base.html.twig' %}
{% block title %}Edit Profile{% endblock %}
{% block body %}
    <div class="userProfile">
        <div class="leftbox"></div>
        <div class="rightbox">
            <div class="edit-user">
                <h1>Update User Profile</h1>
                {{ form_start(form) }}
                <h2>Username</h2>
                {{ form_widget(form.fullName)}}
                <h2>Email</h2>
                {{ form_widget(form.email)}}
            </div>
            <button name="submit" class="editBtn">Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}